table{
    border-collapse: collapse !important;
    width: 100%;
    margin: 0%;
}
td{
    text-wrap: nowrap;
    white-space: nowrap;
}
th, td{
    border: 1px solid black;
    text-align: center;
    vertical-align: middle;
    padding: 0px 1px;
}
.weathertd{
    text-align:start;
}
.header{
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 0%;
}
.boldBorder td {
  border-bottom: 3px solid rgb(0, 0, 0);
}
.main{
    width: 200mm;
    box-shadow: 5px 5px 30px 5px rgb(34, 34, 34);
    background-color: white;
}
@media print {
    .main{
        box-shadow: none;
        width: 100%;
    }
}